@use "/src/sass/base/variables.scss" as *;

.promo {
    position: relative;
    padding-top: 50px;

    &__wrapper {
        margin-top: 50px;
    }

    &__title {
        padding: 0 5px;
    }

    &__cta {
        margin-top: 40px;
    }

    &__img {
        display: block;
        margin: 0 auto 18px auto;
        width: 270px;
        height: 377px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }

    .btn-default {
        margin: 0 auto;
    }

    &__potter {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .promo {
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__cta {
            margin-top: 0;
        }

        &__img {
            width: 230px;
            height: 321px;
        }

        &__title {
            padding-top: 250px;
            padding-left: 71px;
            text-align-last: left;
        }
    }

}

@media screen and (min-width:1200px) {
    .promo {
        &__title {
            padding-left: 571px;
        }

        &__potter {
            left: 0;
            top: 0;
            position: absolute;
            display: block;
            width: 450px;
            height: 633px;
        }
    }
}

@media screen and (min-width:1920px) {
    .promo {
        padding-top: 40px;

        &__potter {
            width: 640px;
            height: 900px;
        }

        &__wrapper {
            margin-top: 79px;
        }

        &__img {
            width: 330px;
            height: 460px;
            margin-bottom: 50px;
        }

        &__title {
            padding-top: 463px - 79px;
            padding-left: 642px;
        }
    }
}